* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.row {
  width: 100%;
}
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.pokemon-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.additional-info {
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
}
.Container {
  width: 100%;
  height: 100vh;
  background-image: url("./dd2zouo-047f7b3f-b895-43ac-82a4-abb6ca12c52a.png");
  background-size: cover;
  background-position: center;
}
